In [34]:
# Import dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import sem
import seaborn as sns
from datetime import datetime

In [13]:
filepath2 = "../Resources/vaccinations.csv"

# World health organization

# 03/19/22
# Grab all countries
# Inspiration link: https://health.google.com/covid-19/open-data/
# Inspiration link: https://health.google.com/covid-19/open-data/raw-data
# Repo for Inspiration link: https://github.com/GoogleCloudPlatform/covid-19-open-data/blob/main/docs/table-vaccinations.md

In [15]:
# 03/19/22
# DELETE

filepath = "../Resources/us_state_vaccinations.csv"

# https://ourworldindata.org/us-states-vaccinations

# To be able to track the vaccination campaign in the United States,
# we are making state-by-state data available in the following charts.

# 03/19/22
# DELETE
# This db is not conducive to country by country comparison. The World Health Organization db allows for easier comparison.

In [65]:
filepath3 = "../Resources/index.csv"

# country index used to extract location_key country name

In [16]:
df = pd.read_csv(filepath)

In [67]:
df2 = pd.read_csv(filepath2)

In [68]:
df3 = pd.read_csv(filepath3)

In [69]:
df3.head()

,location_key,place_id,wikidata_id,datacommons_id,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,locality_code,locality_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level
0,AD,ChIJlfCemC71pRIRkn_qeNc-yQc,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,AD,AND,0
1,AE,ChIJvRKrsd9IXj4RpwoIwFYv0zM,Q878,country/ARE,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,AE,ARE,0
2,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,Q889,country/AFG,AF,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,AF,AFG,0
3,AF_BAL,ChIJWZOescNSyzgRkmVJ8fmfR3k,Q121104,NaN,AF,Afghanistan,BAL,Balkh,NaN,NaN,NaN,NaN,AF,AFG,1
4,AF_BAM,ChIJw-bKQwDr0jgRQiw8jHsQ-HI,Q171382,NaN,AF,Afghanistan,BAM,Bamyan,NaN,NaN,NaN,NaN,AF,AFG,1

In [70]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22963 entries, 0 to 22962
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location_key        22962 non-null  object
 1   place_id            21661 non-null  object
 2   wikidata_id         22184 non-null  object
 3   datacommons_id      4216 non-null   object
 4   country_code        22962 non-null  object
 5   country_name        22963 non-null  object
 6   subregion1_code     22715 non-null  object
 7   subregion1_name     22716 non-null  object
 8   subregion2_code     21253 non-null  object
 9   subregion2_name     21253 non-null  object
 10  locality_code       32 non-null     object
 11  locality_name       32 non-null     object
 12  iso_3166_1_alpha_2  22961 non-null  object
 13  iso_3166_1_alpha_3  22962 non-null  object
 14  aggregation_level   22963 non-null  int64
dtypes: int64(1), object(14)
memory usage: 2.6+ MB

In [71]:
df3.shape

(22963, 15)

In [25]:
df.head(15)

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207,NaN,NaN
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222,NaN,NaN
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212,NaN,NaN
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226,NaN,NaN
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN,NaN,NaN
5,2021-01-17,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7509.0,1531.0,NaN,NaN,NaN
6,2021-01-18,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7517.0,1533.0,NaN,NaN,NaN
7,2021-01-19,Alabama,130795.0,444650.0,114319.0,0.33,2.67,16346.0,2.33,9.07,NaN,7523.0,1534.0,0.294,NaN,NaN
8,2021-01-20,Alabama,139200.0,483275.0,121113.0,0.37,2.84,17956.0,2.47,9.86,8405.0,7880.0,1607.0,0.288,NaN,NaN
9,2021-01-21,Alabama,165919.0,493125.0,144429.0,0.44,3.38,21345.0,2.95,10.06,26719.0,10517.0,2145.0,0.336,NaN,NaN
10,2021-01-22,Alabama,199314.0,519525.0,174317.0,0.51,4.06,24840.0,3.56,10.60,33395.0,14107.0,2877.0,0.384,NaN,NaN
11,2021-01-23,Alabama,221540.0,521225.0,193955.0,0.56,4.52,27422.0,3.96,10.63,22226.0,16202.0,3304.0,0.425,NaN,NaN
12,2021-01-24,Alabama,243737.0,521225.0,213833.0,0.61,4.97,29736.0,4.36,10.63,22197.0,18294.0,3731.0,0.468,NaN,NaN
13,2021-01-25,Alabama,250612.0,521225.0,220464.0,0.61,5.11,29978.0,4.50,10.63,6875.0,18196.0,3711.0,0.481,NaN,NaN
14,2021-01-26,Alabama,254959.0,569000.0,223854.0,0.63,5.20,30933.0,4.57,11.60,4347.0,17738.0,3618.0,0.448,NaN,NaN

In [55]:
# World Health Organization db/csv
df2.head(20)

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,2021-01-12,AD,NaN,576.0,NaN,NaN,NaN,576.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-13,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-14,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-15,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-16,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-01-17,AD,249.0,2390.0,NaN,NaN,249.0,2390.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-01-18,AD,0.0,NaN,NaN,NaN,136.0,2526.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-01-19,AD,49.0,2439.0,NaN,1172.0,1085.0,3611.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2021-01-20,AD,1211.0,3650.0,92.0,1264.0,1303.0,4914.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2021-01-21,AD,3448.0,7098.0,1.0,1265.0,3449.0,8363.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2021-01-22,AD,0.0,NaN,0.0,NaN,925.0,9288.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-01-23,AD,0.0,NaN,0.0,NaN,3152.0,12440.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2021-01-24,AD,2683.0,9781.0,3219.0,4484.0,2829.0,15269.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2021-01-25,AD,0.0,NaN,0.0,NaN,1822.0,17091.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2021-01-26,AD,0.0,NaN,0.0,NaN,1973.0,19064.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2021-01-27,AD,11952.0,21733.0,197.0,4681.0,7350.0,26414.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2021-01-28,AD,2089.0,23822.0,0.0,4681.0,2089.0,28503.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2021-01-29,AD,360.0,24182.0,18.0,4699.0,378.0,28881.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2021-01-30,AD,2749.0,26931.0,3.0,4702.0,2752.0,31633.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2021-01-31,AD,682.0,27613.0,2.0,4704.0,684.0,32317.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# World Health Organization db/csv
df2.tail(20)

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
1805325,NaT,ZW,3070.0,4347992.0,4534.0,3381246.0,10989.0,7847314.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805326,NaT,ZW,3629.0,4351621.0,3344.0,3384590.0,11480.0,7858794.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805327,NaT,ZW,3596.0,4355217.0,4350.0,3388940.0,11605.0,7870399.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805328,NaT,ZW,2721.0,4357938.0,1940.0,3390880.0,6543.0,7876942.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805329,NaT,ZW,1934.0,4359872.0,1698.0,3392578.0,5302.0,7882244.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805330,NaT,ZW,2278.0,4362150.0,4077.0,3396655.0,8707.0,7890951.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805331,NaT,ZW,3706.0,4365856.0,3260.0,3399915.0,10409.0,7901360.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805332,NaT,ZW,2870.0,4368726.0,2519.0,3402434.0,9380.0,7910740.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805333,NaT,ZW,4199.0,4372925.0,4048.0,3406482.0,10373.0,7921113.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805334,NaT,ZW,1971.0,4374896.0,2127.0,3408609.0,9508.0,7930621.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805335,NaT,ZW,2477.0,4377373.0,1731.0,3410340.0,5524.0,7936145.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805336,NaT,ZW,656.0,4378029.0,620.0,3410960.0,2217.0,7938362.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805337,NaT,ZW,1846.0,4379875.0,1596.0,3412556.0,4963.0,7943325.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805338,NaT,ZW,2107.0,4381982.0,1890.0,3414446.0,6550.0,7949875.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805339,NaT,ZW,4807.0,4386789.0,3246.0,3417692.0,13548.0,7963423.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805340,NaT,ZW,3314.0,4390103.0,3545.0,3421237.0,9243.0,7972666.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805341,NaT,ZW,4352.0,4394455.0,4627.0,3425864.0,13220.0,7985886.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805342,NaT,ZW,2256.0,4396711.0,1897.0,3427761.0,5781.0,7991667.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805343,NaT,ZW,1517.0,4398228.0,1413.0,3429174.0,4486.0,7996153.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1805344,NaT,ZW,2769.0,4400997.0,2323.0,3431497.0,166500.0,8162653.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# mask to pull countries
# US
# Canada
# UK
# Nigeria
# China
# India
# ZW
# Eygpt
# Ivory Coast
# Australia
# Brazil
# Mexico

In [ ]:
mask2 = df.location == 'Texas'
sub2 = df.loc[mask2]
sub2

In [74]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22963 entries, 0 to 22962
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location_key        22962 non-null  object
 1   place_id            21661 non-null  object
 2   wikidata_id         22184 non-null  object
 3   datacommons_id      4216 non-null   object
 4   country_code        22962 non-null  object
 5   country_name        22963 non-null  object
 6   subregion1_code     22715 non-null  object
 7   subregion1_name     22716 non-null  object
 8   subregion2_code     21253 non-null  object
 9   subregion2_name     21253 non-null  object
 10  locality_code       32 non-null     object
 11  locality_name       32 non-null     object
 12  iso_3166_1_alpha_2  22961 non-null  object
 13  iso_3166_1_alpha_3  22962 non-null  object
 14  aggregation_level   22963 non-null  int64
dtypes: int64(1), object(14)
memory usage: 2.6+ MB

In [76]:
df3.head(10)

,location_key,place_id,wikidata_id,datacommons_id,country_code,country_name,subregion1_code,subregion1_name,subregion2_code,subregion2_name,locality_code,locality_name,iso_3166_1_alpha_2,iso_3166_1_alpha_3,aggregation_level
0,AD,ChIJlfCemC71pRIRkn_qeNc-yQc,Q228,country/AND,AD,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,AD,AND,0
1,AE,ChIJvRKrsd9IXj4RpwoIwFYv0zM,Q878,country/ARE,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,AE,ARE,0
2,AF,ChIJbQL_-LZu0TgReNqWvg1GtfM,Q889,country/AFG,AF,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,AF,AFG,0
3,AF_BAL,ChIJWZOescNSyzgRkmVJ8fmfR3k,Q121104,NaN,AF,Afghanistan,BAL,Balkh,NaN,NaN,NaN,NaN,AF,AFG,1
4,AF_BAM,ChIJw-bKQwDr0jgRQiw8jHsQ-HI,Q171382,NaN,AF,Afghanistan,BAM,Bamyan,NaN,NaN,NaN,NaN,AF,AFG,1
5,AF_BDG,ChIJn3_EDIFQOj8RqKoIiHwIkRA,Q172052,NaN,AF,Afghanistan,BDG,Badghis,NaN,NaN,NaN,NaN,AF,AFG,1
6,AF_BDS,ChIJ3SDHVxMjxDgRV_5_fAjNfsE,Q165376,NaN,AF,Afghanistan,BDS,Badakhshan,NaN,NaN,NaN,NaN,AF,AFG,1
7,AF_BGL,ChIJ2_A6g-gxzDgRjD-If2PZcS0,Q170309,NaN,AF,Afghanistan,BGL,Baghlan,NaN,NaN,NaN,NaN,AF,AFG,1
8,AF_DAY,ChIJFYmA4wttLD8RAPdF4XqwhWs,Q181220,NaN,AF,Afghanistan,DAY,Daykundi,NaN,NaN,NaN,NaN,AF,AFG,1
9,AF_FRA,ChIJfdoK65pjIT8R8idMzdvTQi8,Q180330,NaN,AF,Afghanistan,FRA,Farah,NaN,NaN,NaN,NaN,AF,AFG,1

In [77]:
df3.columns

Index(['location_key', 'place_id', 'wikidata_id', 'datacommons_id',
       'country_code', 'country_name', 'subregion1_code', 'subregion1_name',
       'subregion2_code', 'subregion2_name', 'locality_code', 'locality_name',
       'iso_3166_1_alpha_2', 'iso_3166_1_alpha_3', 'aggregation_level'],
      dtype='object')

In [78]:
country_df = df3[['location_key','country_code','country_name']]
country_df

      location_key country_code          country_name
0               AD           AD               Andorra
1               AE           AE  United Arab Emirates
2               AF           AF           Afghanistan
3           AF_BAL           AF           Afghanistan
4           AF_BAM           AF           Afghanistan
...            ...          ...                   ...
22958    ZA_WC_DC3           ZA          South Africa
22959    ZA_WC_DC4           ZA          South Africa
22960    ZA_WC_DC5           ZA          South Africa
22961           ZM           ZM                Zambia
22962           ZW           ZW              Zimbabwe

[22963 rows x 3 columns]

In [86]:
mask_us = country_df.country_code == 'US'
sub_us = country_df.loc[mask_us]
sub_us

      location_key country_code              country_name
19557           US           US  United States of America
19558        US_AK           US  United States of America
19559  US_AK_02013           US  United States of America
19560  US_AK_02016           US  United States of America
19561  US_AK_02020           US  United States of America
...            ...          ...                       ...
22837  US_WY_56037           US  United States of America
22838  US_WY_56039           US  United States of America
22839  US_WY_56041           US  United States of America
22840  US_WY_56043           US  United States of America
22841  US_WY_56045           US  United States of America

[3285 rows x 3 columns]

In [87]:
mask_aye = country_df.country_name == 'Canada'
sub_aye = country_df.loc[mask_aye]
sub_aye

     location_key country_code country_name
6460           CA           CA       Canada
6461        CA_AB           CA       Canada
6462   CA_AB_4831           CA       Canada
6463   CA_AB_4832           CA       Canada
6464   CA_AB_4833           CA       Canada
...           ...          ...          ...
6561   CA_SK_4704           CA       Canada
6562   CA_SK_4705           CA       Canada
6563   CA_SK_4706           CA       Canada
6564        CA_YT           CA       Canada
6565   CA_YT_6001           CA       Canada

[106 rows x 3 columns]

In [89]:
mask_uk = country_df.country_name == 'United Kingdom'
sub_uk = country_df.loc[mask_uk]
sub_uk

           location_key country_code    country_name
10336                GB           GB  United Kingdom
10337            GB_ENG           GB  United Kingdom
10338  GB_ENG_E06000001           GB  United Kingdom
10339  GB_ENG_E06000002           GB  United Kingdom
10340  GB_ENG_E06000003           GB  United Kingdom
...                 ...          ...             ...
10528  GB_WLS_W11000025           GB  United Kingdom
10529  GB_WLS_W11000028           GB  United Kingdom
10530  GB_WLS_W11000029           GB  United Kingdom
10531  GB_WLS_W11000030           GB  United Kingdom
10532  GB_WLS_W11000031           GB  United Kingdom

[197 rows x 3 columns]

In [90]:
mask_9ja = country_df.country_name == 'Nigeria'
sub_9ja = country_df.loc[mask_9ja]
sub_9ja

      location_key country_code country_name
16278           NG           NG      Nigeria

In [91]:
mask_xi = country_df.country_name == 'China'
sub_xi = country_df.loc[mask_xi]
sub_xi

     location_key country_code country_name
6993           CN           CN        China
6994        CN_AH           CN        China
6995        CN_BJ           CN        China
6996        CN_CQ           CN        China
6997        CN_FJ           CN        China
6998        CN_GD           CN        China
6999        CN_GS           CN        China
7000        CN_GX           CN        China
7001        CN_GZ           CN        China
7002        CN_HA           CN        China
7003        CN_HB           CN        China
7004        CN_HE           CN        China
7005        CN_HI           CN        China
7006        CN_HL           CN        China
7007        CN_HN           CN        China
7008        CN_JL           CN        China
7009        CN_JS           CN        China
7010        CN_JX           CN        China
7011        CN_LN           CN        China
7012        CN_NM           CN        China
7013        CN_NX           CN        China
7014        CN_QH           CN        China
7015        CN_SC           CN        China
7016        CN_SD           CN        China
7017        CN_SH           CN        China
7018        CN_SN           CN        China
7019        CN_SX           CN        China
7020        CN_TJ           CN        China
7021        CN_XJ           CN        China
7022        CN_XZ           CN        China
7023        CN_YN           CN        China
7024        CN_ZJ           CN        China

In [92]:
mask_lassi = country_df.country_name == 'India'
sub_lassi = country_df.loc[mask_lassi]
sub_lassi

      location_key country_code country_name
12642           IN           IN        India
12643        IN_AN           IN        India
12644    IN_AN_NIC           IN        India
12645    IN_AN_NMA           IN        India
12646    IN_AN_SAS           IN        India
...            ...          ...          ...
13391    IN_WB_MRS           IN        India
13392    IN_WB_N24           IN        India
13393    IN_WB_NAD           IN        India
13394    IN_WB_PRL           IN        India
13395    IN_WB_S24           IN        India

[754 rows x 3 columns]

In [93]:
mask_zim = country_df.country_name == 'Zimbabwe'
sub_zim = country_df.loc[mask_zim]
sub_zim

      location_key country_code country_name
22962           ZW           ZW     Zimbabwe

In [95]:
mask_nile = country_df.country_name == 'Egypt'
sub_nile = country_df.loc[mask_nile]
sub_nile

     location_key country_code country_name
8810           EG           EG        Egypt

In [96]:
mask_cote = country_df.country_name == 'Ivory Coast'
sub_cote = country_df.loc[mask_cote]
sub_cote

     location_key country_code country_name
6627           CI           CI  Ivory Coast

In [97]:
mask_aus = country_df.country_name == 'Australia'
sub_aus = country_df.loc[mask_aus]
sub_aus

    location_key country_code country_name
694           AU           AU    Australia
695       AU_ACT           AU    Australia
696       AU_NSW           AU    Australia
697        AU_NT           AU    Australia
698       AU_QLD           AU    Australia
699        AU_SA           AU    Australia
700       AU_TAS           AU    Australia
701       AU_VIC           AU    Australia
702        AU_WA           AU    Australia

In [98]:
mask_jj = country_df.country_name == 'Brazil'
sub_jj = country_df.loc[mask_jj]
sub_jj

      location_key country_code country_name
838             BR           BR       Brazil
839          BR_AC           BR       Brazil
840   BR_AC_120001           BR       Brazil
841   BR_AC_120005           BR       Brazil
842   BR_AC_120010           BR       Brazil
...            ...          ...          ...
6449  BR_TO_172120           BR       Brazil
6450  BR_TO_172125           BR       Brazil
6451  BR_TO_172130           BR       Brazil
6452  BR_TO_172208           BR       Brazil
6453  BR_TO_172210           BR       Brazil

[5616 rows x 3 columns]

In [99]:
mask_tacos = country_df.country_name == 'Mexico'
sub_tacos = country_df.loc[mask_tacos]
sub_tacos

       location_key country_code country_name
13747            MX           MX       Mexico
13748        MX_AGU           MX       Mexico
13749  MX_AGU_01001           MX       Mexico
13750  MX_AGU_01002           MX       Mexico
13751  MX_AGU_01003           MX       Mexico
...             ...          ...          ...
16240  MX_ZAC_32054           MX       Mexico
16241  MX_ZAC_32055           MX       Mexico
16242  MX_ZAC_32056           MX       Mexico
16243  MX_ZAC_32057           MX       Mexico
16244  MX_ZAC_32058           MX       Mexico

[2498 rows x 3 columns]

In [ ]:
# mask to pull country location_key to concatenate google db
# US - US
# Canada - CA
# UK - GB drop due to territory differences
# Nigeria - NG
# China - CN
# India - IN
# Zimbabwe - ZW
# Eygpt - EG
# Ivory Coast - CI
# Australia - AU
# Brazil - BR
# Mexico - MX

In [101]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1805345 entries, 0 to 1805344
Data columns (total 32 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   date                                           object
 1   location_key                                   object
 2   new_persons_vaccinated                         float64
 3   cumulative_persons_vaccinated                  float64
 4   new_persons_fully_vaccinated                   float64
 5   cumulative_persons_fully_vaccinated            float64
 6   new_vaccine_doses_administered                 float64
 7   cumulative_vaccine_doses_administered          float64
 8   new_persons_vaccinated_pfizer                  float64
 9   cumulative_persons_vaccinated_pfizer           float64
 10  new_persons_fully_vaccinated_pfizer            float64
 11  cumulative_persons_fully_vaccinated_pfizer     float64
 12  new_vaccine_doses_administered_pfizer          float64
 13  cumulative_vaccine_doses_administered_pfizer   float64
 14  new_persons_vaccinated_moderna                 float64
 15  cumulative_persons_vaccinated_moderna          float64
 16  new_persons_fully_vaccinated_moderna           float64
 17  cumulative_persons_fully_vaccinated_moderna    float64
 18  new_vaccine_doses_administered_moderna         float64
 19  cumulative_vaccine_doses_administered_moderna  float64
 20  new_persons_vaccinated_janssen                 float64
 21  cumulative_persons_vaccinated_janssen          float64
 22  new_persons_fully_vaccinated_janssen           float64
 23  cumulative_persons_fully_vaccinated_janssen    float64
 24  new_vaccine_doses_administered_janssen         float64
 25  cumulative_vaccine_doses_administered_janssen  float64
 26  new_persons_vaccinated_sinovac                 float64
 27  total_persons_vaccinated_sinovac               float64
 28  new_persons_fully_vaccinated_sinovac           float64
 29  total_persons_fully_vaccinated_sinovac         float64
 30  new_vaccine_doses_administered_sinovac         float64
 31  total_vaccine_doses_administered_sinovac       float64
dtypes: float64(30), object(2)
memory usage: 440.8+ MB

In [ ]:
country_df2 = df2[['location_key','country_code','country_name']]
country_df2

In [ ]:
mask_tacos = country_df.country_name == 'Mexico'
sub_tacos = country_df.loc[mask_tacos]
sub_tacos

In [108]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1805345 entries, 0 to 1805344
Data columns (total 32 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   date                                           object
 1   location_key                                   object
 2   new_persons_vaccinated                         float64
 3   cumulative_persons_vaccinated                  float64
 4   new_persons_fully_vaccinated                   float64
 5   cumulative_persons_fully_vaccinated            float64
 6   new_vaccine_doses_administered                 float64
 7   cumulative_vaccine_doses_administered          float64
 8   new_persons_vaccinated_pfizer                  float64
 9   cumulative_persons_vaccinated_pfizer           float64
 10  new_persons_fully_vaccinated_pfizer            float64
 11  cumulative_persons_fully_vaccinated_pfizer     float64
 12  new_vaccine_doses_administered_pfizer          float64
 13  cumulative_vaccine_doses_administered_pfizer   float64
 14  new_persons_vaccinated_moderna                 float64
 15  cumulative_persons_vaccinated_moderna          float64
 16  new_persons_fully_vaccinated_moderna           float64
 17  cumulative_persons_fully_vaccinated_moderna    float64
 18  new_vaccine_doses_administered_moderna         float64
 19  cumulative_vaccine_doses_administered_moderna  float64
 20  new_persons_vaccinated_janssen                 float64
 21  cumulative_persons_vaccinated_janssen          float64
 22  new_persons_fully_vaccinated_janssen           float64
 23  cumulative_persons_fully_vaccinated_janssen    float64
 24  new_vaccine_doses_administered_janssen         float64
 25  cumulative_vaccine_doses_administered_janssen  float64
 26  new_persons_vaccinated_sinovac                 float64
 27  total_persons_vaccinated_sinovac               float64
 28  new_persons_fully_vaccinated_sinovac           float64
 29  total_persons_fully_vaccinated_sinovac         float64
 30  new_vaccine_doses_administered_sinovac         float64
 31  total_vaccine_doses_administered_sinovac       float64
dtypes: float64(30), object(2)
memory usage: 440.8+ MB

In [112]:
df.columns

Index(['date', 'location', 'total_vaccinations', 'total_distributed',
       'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'distributed_per_hundred',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'daily_vaccinations_per_million', 'share_doses_used', 'total_boosters',
       'total_boosters_per_hundred'],
      dtype='object')

In [111]:
mask_key = df2.location_key == ['US', 'CA', 'NG', 'CN', 'IN', 'ZW', 'EG', 'CI', 'AU', 'BR', 'MX']
sub_key = df2.loc[mask_key]
sub_key

ValueError: ('Lengths must match to compare', (1805345,), (11,))

In [103]:
testdf = df2

In [106]:
mask_test = testdf.location_key == ['US']
sub_test = testdf.loc[mask_test]
sub_test

ValueError: ('Lengths must match to compare', (1805345,), (1,))

In [105]:
testdf.location_key == ['US']
testdf.location

ValueError: ('Lengths must match to compare', (1805345,), (1,))

In [107]:
testdf.head(20)

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
0,2021-01-25,AD,NaN,576.0,NaN,NaN,NaN,576.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-01,AD,460.0,1036.0,NaN,NaN,460.0,1036.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-10,AD,255.0,1291.0,NaN,NaN,255.0,1291.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-12,AD,331.0,1622.0,NaN,NaN,331.0,1622.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-19,AD,519.0,2141.0,NaN,NaN,519.0,2141.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2021-02-24,AD,249.0,2390.0,NaN,NaN,249.0,2390.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2021-02-26,AD,0.0,NaN,NaN,NaN,136.0,2526.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2021-03-08,AD,49.0,2439.0,NaN,1172.0,1085.0,3611.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2021-03-10,AD,1211.0,3650.0,92.0,1264.0,1303.0,4914.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2021-03-15,AD,3448.0,7098.0,1.0,1265.0,3449.0,8363.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2021-03-19,AD,0.0,NaN,0.0,NaN,925.0,9288.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2021-04-04,AD,0.0,NaN,0.0,NaN,3152.0,12440.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2021-04-05,AD,2683.0,9781.0,3219.0,4484.0,2829.0,15269.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2021-04-11,AD,0.0,NaN,0.0,NaN,1822.0,17091.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2021-04-12,AD,0.0,NaN,0.0,NaN,1973.0,19064.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2021-04-19,AD,11952.0,21733.0,197.0,4681.0,7350.0,26414.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2021-04-26,AD,2089.0,23822.0,0.0,4681.0,2089.0,28503.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2021-05-03,AD,360.0,24182.0,18.0,4699.0,378.0,28881.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2021-05-10,AD,2749.0,26931.0,3.0,4702.0,2752.0,31633.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2021-05-17,AD,682.0,27613.0,2.0,4704.0,684.0,32317.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# mask to pull country location_key to concatenate google db
# US - US
# Canada - CA
# UK - GB drop due to territory differences
# Nigeria - NG
# China - CN
# India - IN
# Zimbabwe - ZW
# Eygpt - EG
# Ivory Coast - CI
# Australia - AU
# Brazil - BR
# Mexico - MX

In [113]:
groupby_df = df2.groupby(['location_key'])

In [117]:
groupby_df

In [64]:
df2.location_key.nunique

<bound method IndexOpsMixin.nunique of 0          AD
1          AD
2          AD
3          AD
4          AD
           ..
1805340    ZW
1805341    ZW
1805342    ZW
1805343    ZW
1805344    ZW
Name: location_key, Length: 1805345, dtype: object>

In [26]:
df2.location_key.unique()

array(['AD', 'AE', 'AF', ..., 'ZA', 'ZM', 'ZW'], dtype=object)

In [29]:
len(df2.location_key.unique())

5144

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27748 entries, 0 to 27747
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 27748 non-null  object
 1   location                             27748 non-null  object
 2   total_vaccinations                   25119 non-null  float64
 3   total_distributed                    24859 non-null  float64
 4   people_vaccinated                    24855 non-null  float64
 5   people_fully_vaccinated_per_hundred  23557 non-null  float64
 6   total_vaccinations_per_hundred       23656 non-null  float64
 7   people_fully_vaccinated              24775 non-null  float64
 8   people_vaccinated_per_hundred        23632 non-null  float64
 9   distributed_per_hundred              23636 non-null  float64
 10  daily_vaccinations_raw               24098 non-null  float64
 11  daily_vaccinations                   27683 non-null  float64
 12  daily_vaccinations_per_million       26096 non-null  float64
 13  share_doses_used                     24859 non-null  float64
 14  total_boosters                       7953 non-null   float64
 15  total_boosters_per_hundred           7563 non-null   float64
dtypes: float64(14), object(2)
memory usage: 3.4+ MB

In [44]:
# datetime transformation
df_date = df

In [46]:
pd.to_datetime(df_date.date)

0       2021-01-12
1       2021-01-13
2       2021-01-14
3       2021-01-15
4       2021-01-16
           ...
27743   2022-03-12
27744   2022-03-13
27745   2022-03-14
27746   2022-03-15
27747   2022-03-16
Name: date, Length: 27748, dtype: datetime64[ns]

In [49]:
df_date['date'] = pd.to_datetime(df_date.date)

In [51]:
df['date'] = pd.to_datetime(df_date.date)

In [52]:
df2['date'] = pd.to_datetime(df_date.date)

In [50]:
df_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27748 entries, 0 to 27747
Data columns (total 16 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   date                                 27748 non-null  datetime64[ns]
 1   location                             27748 non-null  object
 2   total_vaccinations                   25119 non-null  float64
 3   total_distributed                    24859 non-null  float64
 4   people_vaccinated                    24855 non-null  float64
 5   people_fully_vaccinated_per_hundred  23557 non-null  float64
 6   total_vaccinations_per_hundred       23656 non-null  float64
 7   people_fully_vaccinated              24775 non-null  float64
 8   people_vaccinated_per_hundred        23632 non-null  float64
 9   distributed_per_hundred              23636 non-null  float64
 10  daily_vaccinations_raw               24098 non-null  float64
 11  daily_vaccinations                   27683 non-null  float64
 12  daily_vaccinations_per_million       26096 non-null  float64
 13  share_doses_used                     24859 non-null  float64
 14  total_boosters                       7953 non-null   float64
 15  total_boosters_per_hundred           7563 non-null   float64
dtypes: datetime64[ns](1), float64(14), object(1)
memory usage: 3.4+ MB

In [21]:
df.columns

Index(['date', 'location', 'total_vaccinations', 'total_distributed',
       'people_vaccinated', 'people_fully_vaccinated_per_hundred',
       'total_vaccinations_per_hundred', 'people_fully_vaccinated',
       'people_vaccinated_per_hundred', 'distributed_per_hundred',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'daily_vaccinations_per_million', 'share_doses_used', 'total_boosters',
       'total_boosters_per_hundred'],
      dtype='object')

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1805345 entries, 0 to 1805344
Data columns (total 32 columns):
 #   Column                                         Dtype
---  ------                                         -----
 0   date                                           object
 1   location_key                                   object
 2   new_persons_vaccinated                         float64
 3   cumulative_persons_vaccinated                  float64
 4   new_persons_fully_vaccinated                   float64
 5   cumulative_persons_fully_vaccinated            float64
 6   new_vaccine_doses_administered                 float64
 7   cumulative_vaccine_doses_administered          float64
 8   new_persons_vaccinated_pfizer                  float64
 9   cumulative_persons_vaccinated_pfizer           float64
 10  new_persons_fully_vaccinated_pfizer            float64
 11  cumulative_persons_fully_vaccinated_pfizer     float64
 12  new_vaccine_doses_administered_pfizer          float64
 13  cumulative_vaccine_doses_administered_pfizer   float64
 14  new_persons_vaccinated_moderna                 float64
 15  cumulative_persons_vaccinated_moderna          float64
 16  new_persons_fully_vaccinated_moderna           float64
 17  cumulative_persons_fully_vaccinated_moderna    float64
 18  new_vaccine_doses_administered_moderna         float64
 19  cumulative_vaccine_doses_administered_moderna  float64
 20  new_persons_vaccinated_janssen                 float64
 21  cumulative_persons_vaccinated_janssen          float64
 22  new_persons_fully_vaccinated_janssen           float64
 23  cumulative_persons_fully_vaccinated_janssen    float64
 24  new_vaccine_doses_administered_janssen         float64
 25  cumulative_vaccine_doses_administered_janssen  float64
 26  new_persons_vaccinated_sinovac                 float64
 27  total_persons_vaccinated_sinovac               float64
 28  new_persons_fully_vaccinated_sinovac           float64
 29  total_persons_fully_vaccinated_sinovac         float64
 30  new_vaccine_doses_administered_sinovac         float64
 31  total_vaccine_doses_administered_sinovac       float64
dtypes: float64(30), object(2)
memory usage: 440.8+ MB

In [23]:
df2.columns

Index(['date', 'location_key', 'new_persons_vaccinated',
       'cumulative_persons_vaccinated', 'new_persons_fully_vaccinated',
       'cumulative_persons_fully_vaccinated', 'new_vaccine_doses_administered',
       'cumulative_vaccine_doses_administered',
       'new_persons_vaccinated_pfizer', 'cumulative_persons_vaccinated_pfizer',
       'new_persons_fully_vaccinated_pfizer',
       'cumulative_persons_fully_vaccinated_pfizer',
       'new_vaccine_doses_administered_pfizer',
       'cumulative_vaccine_doses_administered_pfizer',
       'new_persons_vaccinated_moderna',
       'cumulative_persons_vaccinated_moderna',
       'new_persons_fully_vaccinated_moderna',
       'cumulative_persons_fully_vaccinated_moderna',
       'new_vaccine_doses_administered_moderna',
       'cumulative_vaccine_doses_administered_moderna',
       'new_persons_vaccinated_janssen',
       'cumulative_persons_vaccinated_janssen',
       'new_persons_fully_vaccinated_janssen',
       'cumulative_persons_fully_vaccinated_janssen',
       'new_vaccine_doses_administered_janssen',
       'cumulative_vaccine_doses_administered_janssen',
       'new_persons_vaccinated_sinovac', 'total_persons_vaccinated_sinovac',
       'new_persons_fully_vaccinated_sinovac',
       'total_persons_fully_vaccinated_sinovac',
       'new_vaccine_doses_administered_sinovac',
       'total_vaccine_doses_administered_sinovac'],
      dtype='object')

In [ ]:
# 4 total tables

In [ ]:
# date and location only

In [ ]:
# date location provider only

In [ ]:
# small tables = look for location

In [ ]:
# small tables 2 = look up for vaccine

In [ ]:
# one row uniquely identified by date, location_id, provider_id and four providers

In [ ]:
# one row uniquely identified by date, location_id, provider_id

In [ ]:
df2.head(10)

In [ ]:
df.location.value_counts()

In [ ]:
df.location.unique()

In [ ]:
mask = df.location == 'United States'
sub = df.loc[mask]
sub

In [ ]:
mask2 = df.location == 'Texas'
sub2 = df.loc[mask2]
sub2

In [ ]:
sub2.describe()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
corrs = df.corr()
corrs

In [ ]:
plt.figure(figsize=(14,8))
plt.title('US Vaccinations Heatmap by State')
sns.heatmap(corrs)
plt.show()

In [31]:
mask3 = df2.location_key == 'US'
sub3 = df2.loc[mask3]
sub3

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
728949,2020-12-13,US,24509.0,24509.0,NaN,5667.0,29449.0,29449.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728950,2020-12-14,US,4408.0,28917.0,119.0,5786.0,4567.0,34016.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728951,2020-12-15,US,47384.0,76301.0,260.0,6046.0,49713.0,83729.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728952,2020-12-16,US,154423.0,230724.0,472.0,6518.0,159813.0,243542.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728953,2020-12-17,US,265388.0,496112.0,744.0,7262.0,272506.0,516048.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729404,2022-03-13,US,18460.0,254716313.0,90666.0,216587984.0,62062.0,557515294.0,NaN,NaN,...,4643.0,16804026.0,6625.0,18511808.0,NaN,NaN,NaN,NaN,NaN,NaN
729405,2022-03-14,US,29577.0,254745890.0,102820.0,216690804.0,111663.0,557626957.0,NaN,NaN,...,5333.0,16809359.0,7244.0,18519052.0,NaN,NaN,NaN,NaN,NaN,NaN
729406,2022-03-15,US,4736.0,254750626.0,77151.0,216767955.0,17672.0,557644629.0,NaN,NaN,...,3371.0,16812730.0,4687.0,18523739.0,NaN,NaN,NaN,NaN,NaN,NaN
729407,2022-03-16,US,69492.0,254750626.0,61874.0,216829829.0,237025.0,557644629.0,NaN,NaN,...,4201.0,16816931.0,-18007520.0,516219.0,NaN,NaN,NaN,NaN,NaN,NaN
729408,2022-03-17,US,0.0,254750626.0,0.0,216829829.0,0.0,557644629.0,NaN,NaN,...,0.0,16816931.0,0.0,516219.0,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# data transformation, column changed to US

sub3_rename = sub3.rename(columns={"location_key":"us"})
sub3_rename

,date,us,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
728949,2020-12-13,US,24509.0,24509.0,NaN,5667.0,29449.0,29449.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728950,2020-12-14,US,4408.0,28917.0,119.0,5786.0,4567.0,34016.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728951,2020-12-15,US,47384.0,76301.0,260.0,6046.0,49713.0,83729.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728952,2020-12-16,US,154423.0,230724.0,472.0,6518.0,159813.0,243542.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728953,2020-12-17,US,265388.0,496112.0,744.0,7262.0,272506.0,516048.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729404,2022-03-13,US,18460.0,254716313.0,90666.0,216587984.0,62062.0,557515294.0,NaN,NaN,...,4643.0,16804026.0,6625.0,18511808.0,NaN,NaN,NaN,NaN,NaN,NaN
729405,2022-03-14,US,29577.0,254745890.0,102820.0,216690804.0,111663.0,557626957.0,NaN,NaN,...,5333.0,16809359.0,7244.0,18519052.0,NaN,NaN,NaN,NaN,NaN,NaN
729406,2022-03-15,US,4736.0,254750626.0,77151.0,216767955.0,17672.0,557644629.0,NaN,NaN,...,3371.0,16812730.0,4687.0,18523739.0,NaN,NaN,NaN,NaN,NaN,NaN
729407,2022-03-16,US,69492.0,254750626.0,61874.0,216829829.0,237025.0,557644629.0,NaN,NaN,...,4201.0,16816931.0,-18007520.0,516219.0,NaN,NaN,NaN,NaN,NaN,NaN
729408,2022-03-17,US,0.0,254750626.0,0.0,216829829.0,0.0,557644629.0,NaN,NaN,...,0.0,16816931.0,0.0,516219.0,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
sub3_rename['date'] = pd.to_datetime(df_date.date)

In [54]:
sub3_rename.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 460 entries, 728949 to 729408
Data columns (total 32 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   date                                           0 non-null      datetime64[ns]
 1   us                                             460 non-null    object
 2   new_persons_vaccinated                         460 non-null    float64
 3   cumulative_persons_vaccinated                  460 non-null    float64
 4   new_persons_fully_vaccinated                   459 non-null    float64
 5   cumulative_persons_fully_vaccinated            460 non-null    float64
 6   new_vaccine_doses_administered                 460 non-null    float64
 7   cumulative_vaccine_doses_administered          460 non-null    float64
 8   new_persons_vaccinated_pfizer                  0 non-null      float64
 9   cumulative_persons_vaccinated_pfizer           0 non-null      float64
 10  new_persons_fully_vaccinated_pfizer            374 non-null    float64
 11  cumulative_persons_fully_vaccinated_pfizer     375 non-null    float64
 12  new_vaccine_doses_administered_pfizer          374 non-null    float64
 13  cumulative_vaccine_doses_administered_pfizer   375 non-null    float64
 14  new_persons_vaccinated_moderna                 0 non-null      float64
 15  cumulative_persons_vaccinated_moderna          0 non-null      float64
 16  new_persons_fully_vaccinated_moderna           374 non-null    float64
 17  cumulative_persons_fully_vaccinated_moderna    375 non-null    float64
 18  new_vaccine_doses_administered_moderna         374 non-null    float64
 19  cumulative_vaccine_doses_administered_moderna  375 non-null    float64
 20  new_persons_vaccinated_janssen                 0 non-null      float64
 21  cumulative_persons_vaccinated_janssen          0 non-null      float64
 22  new_persons_fully_vaccinated_janssen           374 non-null    float64
 23  cumulative_persons_fully_vaccinated_janssen    375 non-null    float64
 24  new_vaccine_doses_administered_janssen         374 non-null    float64
 25  cumulative_vaccine_doses_administered_janssen  375 non-null    float64
 26  new_persons_vaccinated_sinovac                 0 non-null      float64
 27  total_persons_vaccinated_sinovac               0 non-null      float64
 28  new_persons_fully_vaccinated_sinovac           0 non-null      float64
 29  total_persons_fully_vaccinated_sinovac         0 non-null      float64
 30  new_vaccine_doses_administered_sinovac         0 non-null      float64
 31  total_vaccine_doses_administered_sinovac       0 non-null      float64
dtypes: datetime64[ns](1), float64(30), object(1)
memory usage: 118.6+ KB